:global(.ui.card).card {
  background-color: #f3e9c1;
  //background-image: url("/bedge-grunge.png");
}

.container {
  padding: 1rem;
}

.dropdown {
  max-width: 20rem;
}

.form {
  width: 290px;
  margin: .875em .5em;
}
