.month {
  display: flex;

  & .monthCell {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 0.5rem;
    background-color: #e0e0e0;

    &.icon {
      background-color: initial;
      margin-right: 0.5rem;
    }
  }
}
