.month {
  display: flex;
  user-select: none;

  & .monthCell {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 0.5rem;
    background-color: #e0e0e0;
    box-sizing: border-box;

    &.current {
      border: dashed 1px black;
    }

    &.icon {
      background-color: initial;
      margin-right: 0.5rem;
    }
  }
}
